<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DMARC Database</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <ol>
        <li><b>Number of Records</b>: <span name="data.count"></span></li>
        <li><b>Total DB Size</b>: <span name="data.dbsize"></span></li>
        <li><b>Total Number of Emails OUT Reported</b>: <span name="data.sum"></span></li>
    </ol>
    <script type="text/javascript">
    const numberWithCommas = (x) => {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    $(() => {
        $.getJSON("/api/stats", (data) => {
            if(data.records.length == 1) {
                for(var key in data.records[0]) {
                    let val = data.records[0][key];
                    $("span[name='data."+key+"'").text(isNaN(val) ? val : numberWithCommas(val));
                }
            }
        });
    });
    </script>
</body>
</html>